@model IEnumerable<MountainTrailsWebApp.Models.TrailModels>

@{
    ViewBag.Title = "Lista trasee Pagina 3";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/TrailModelsList3.css")
    @Styles.Render("~/Content/lightbox.min.css")
    <script src="~/js/lightbox-plus-jquery.js"></script>
    <script src="~/js/lightbox-plus-jquery.min.js"></script>
</head>
<body>
    <div class="products">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="filters">
                        <ul>
                            <li class="active" data-filter="*"> Toate traseele </li>
                            <li data-filter=".beg"> Incepatori </li>
                            <li data-filter=".med"> Mediu </li>
                            <li data-filter=".dif"> Dificil </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="filters-content">
                        <div class="row grid">

                            <div class="col-lg-4 col-md-4 all beg">
                                <div class="product-item">
                                    <img src="~/Sources/Gallery/bran3.jpg" alt="">
                                    <div class="down-content">
                                        <h4> Bran - Vârful Scara - Cabana Omu </h4>
                                        <p> Legătura Bran - Vf. Omu, pe Valea Ciubotei </p> 
                                        <a class="btn btn-success glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".trailmodal1">
                                            Citeste mai mult
                                        </a>
                                    </div>
                                </div>

                                <div class="modal fade trailmodal1">
                                    <div class="modal-dialog modal-xl" style="width:90%">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"> <span> &times; </span> </button>
                                                <div class="modal-title"> <h1> Bran - Vârful Scara - Cabana Omu </h1> </div>

                                            </div>

                                            <div class="modal-body">
                                                <table>
                                                    <tr>
                                                        <th> Dificultate </th>
                                                        <th> Distanță </th>
                                                        <th> Durată </th>
                                                        <th> Urcare </th>
                                                        <th> Coborâre </th>
                                                    </tr>
                                                    <tr>
                                                        <td> mediu/dificil </td>
                                                        <td> 13,12 KM </td>
                                                        <td> 6:00-7:3 H </td>
                                                        <td> 1730M </td>
                                                        <td> 0M </td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Cele mai bune sezoane </b></h3>
                                                <table>
                                                    <tr>
                                                        <td colspan="2"> Mai </td>
                                                        <td rowspan="4"> Iunie</td>
                                                        <td>Iulie</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"> August </td>
                                                        <td>Septembrie</td>
                                                        <td>Octombrie</td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Etape </b></h3>
                                                <p>
                                                    Bran - Poiana Ciubotei - Vârful Scara - Cabana Omu
                                                </p>

                                                <br />

                                                <h3> <b> Descriere </b></h3>
                                                <p>
                                                    Traseul 22 Triunghi Galben străbate lungul și pitorescul sat turistic Poarta până la Baza Salvamont Ciubotea, apoi urcă de-a coasta pe Muchia
                                                    Urlătoarea Clincii și Valea Ciubotei spre platoul Vf. Scara și Cabana Omu. Un traseu de anduranță ce necesită o bună rezistență fizică, cu
                                                    diferență mare de nivel și porțiuni accidentate, fără surse de apă.
                                                    <br />
                                                    Traseul 22 TG face legătura între Bran și Cabana Omu, într-o urcare susținută pe Valea Ciubotei și Muchia Ciubotea. Un traseu solicitant,
                                                    potrivit celor experimentați, obișnuiți cu aprox. 2000 m diferențe de nivel, în cca. 7 h de drumeție. Iarna - nerecomandat.
                                                    <br />
                                                    Încă de la început, odată cu traversarea satului Poarta de la poalele Bucegilor (un Mecca al împătimiților de fotografie), te bucuri de
                                                    măreția muntelui și rămâi fără suflare. Parcurgem satul Poarta până la baza Salvamont Ciubotea, cu imaginea Craiului în depărtare. Continuăm
                                                    prin pădure până într-o poiană lungă unde se găsește o cabană silvică dărăpănată. Din marginea de sus a poienii Ciubotea urmăm poteca ce urcă
                                                    de-a coasta pe Muchia Urlătoarea Clincii, pe faţa dinspre V Urlătoarea Mică.
                                                    <br />
                                                    Urcăm pieptiș şi după 45-50 min din Poiana Ciubotei, ajungem pe Valea Ciubotei de unde observăm Colții Ciubotei. Trecem pe sub o zonă de
                                                    stâncării și ieşim într-o mică şa, în marginea de jos a căldării mijlocii a văii. În depărtare se înalță Turnurile Țigănești care ne dau
                                                    avânt. Continuăm urcușul susținut și ieșim pe muchie în Culmea Scara, pe platforma largă a Podului Spintecăturilor. Spre est, nu departe,
                                                    se înalţă Vf. Scara (2421 m).
                                                    <br />
                                                    Continuăm alături de traseul principal BR (traseul 21) - ce urcă peste Culmea Clincea și Muntele Țigănești, apoi ajungem pe pe platoul Vf.
                                                    Scara (2422 m), unde se pot vedea urmele unui refugiu semisferic distrus de vânt. Din Șaua Hornurilor ținem versantul nordic al Muntelui
                                                    Bucşoiu spre Cabana Omu, amplasată la cea mai mare înălțime în Carpați (2505 m). Alături găsim Stația meteo Vârful Omu, cel mai înalt punct
                                                    locuit permanent din țară.
                                                </p>

                                                <br />

                                                <h3> <b> Indicatii de orientare </b></h3>
                                                <p>
                                                    Din Bran parcurgem satul Poarta, continuăm pe Valea Ciubotea, trecem de baza Salvamont Ciubotea, continuăm pe potecă printr-o poiană lungă,
                                                    urcăm pragul lung şi puţin înclinat al primei căldări glaciare, parcurgem căldarea glaciară, apoi a doua și a treia căldare glaciară și după
                                                    un adăpost ciobănesc facem dreapta în urcare pe versantul estic al Muchiei Ciubotea. Urcăm pe Muchia Ciubotea circa 45 de minute, peste trepte
                                                    stâncoase până sub Vârful Scara. Traversăm platoul Vârfului Scara, coborâm pe versantul vestic al Muntelui Scara pe sub fereastra calcaroasă
                                                    Ţigăneşti până în Şaua Hornurilor. Continuăm în urcuş 30-45 de minute până la Cabana Omu (2507 m).
                                                </p>

                                                <br />

                                                <h3> <b> Galerie </b></h3>
                                                <div id="main">
                                                    <div class="gallery">
                                                        <a href="~/Sources/Gallery/bran3.jpg" data-lightbox="mygallery" data-title="Bran - Vârful Scara - Cabana Omu">
                                                            <img src="~/Sources/Gallery/bran3.jpg" />
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4 col-md-4 all dev">
                                <div class="product-item">
                                    <img src="~/Sources/Gallery/bran2.jpg" alt="">
                                    <div class="down-content">
                                        <h4> Bran - Poiana Gaura - Cabana Omu </h4>
                                        <p> Legătura Bran - Vârful Omu, pe Valea Gaura </p>

                                        <a class="btn btn-success glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".trailmodal2">
                                            Citeste mai mult
                                        </a>
                                    </div>
                                </div>

                                <div class="modal fade trailmodal2">
                                    <div class="modal-dialog modal-xl" style="width:90%">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"> <span> &times; </span> </button>
                                                <div class="modal-title"> <h1> Bran - Poiana Gaura - Cabana Omu </h1> </div>

                                            </div>

                                            <div class="modal-body">
                                                <table>
                                                    <tr>
                                                        <th> Dificultate </th>
                                                        <th> Distanță </th>
                                                        <th> Durată </th>
                                                        <th> Urcare </th>
                                                        <th> Coborâre </th>
                                                    </tr>
                                                    <tr>
                                                        <td> mediu/dificil </td>
                                                        <td> 15,65 KM </td>
                                                        <td> 7:00-9:30 H </td>
                                                        <td> 2068M </td>
                                                        <td> 334M </td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Cele mai bune sezoane </b></h3>
                                                <table>
                                                    <tr>
                                                        <td colspan="2"> Mai </td>
                                                        <td rowspan="4"> Iunie</td>
                                                        <td>Iulie</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"> August </td>
                                                        <td>Septembrie</td>
                                                        <td>Octombrie</td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Etape </b></h3>
                                                <p>
                                                    Bran - Şaua Poliţe - Poiana Gaura - Valea Gaura - Cabana Omu
                                                </p>

                                                <br />

                                                <h3> <b> Descriere </b></h3>
                                                <p>
                                                    Traseul 23 Cruce Roșie străbate pitorescul sat turistic Poarta, urcă pe Muchia Izvoarelor spre Muntele Gaura, apoi ține Valea Gaura, una din
                                                    cele mai fotogenice zone din Bucegi. Un traseu de anduranță ce necesită o bună rezistență fizică, dar cu priveliști inegalabile asupra Pietrei
                                                    Craiului și asupra Abruptului Vestic al Bucegilor.
                                                    <br />
                                                    Traseul 23 CR face legătura între Bran și Cabana Omu, într-o urcare lungă spre Şaua Poliţe, apoi pe Valea Gaura. Un traseu solicitant, potrivit
                                                    celor experimentați, obișnuiți cu peste 2000 m diferențe de nivel, în cca. 9 h de drumeție. Iarna - nerecomandat.
                                                    <br />
                                                    Valea Gaura este una dintre cele mai frumoase văi din România și una din cele mai fotogenice zone din Bucegi. Pentru drumeții cu o pregătire
                                                    fizică bună, un astfel de traseu de anduranță poate aduce o satisfacție în plus prin perspectiva priveliștilor inegalabile asupra Pietrei Craiului
                                                    și asupra Abruptului Vestic al Bucegilor.
                                                    <br />
                                                    Încă de la debut, odată cu traversarea satului Poarta de la poalele Bucegilor (un Mecca al împătimiților de fotografie), te bucuri de măreția
                                                    muntelui și rămâi fără suflare. Parcurgem satul Poarta până în punctul „Podul Oprişului", unde lăsăm în stânga traseul principal BR (traseul 21)
                                                    - ce urcă peste Culmea Clincea și Muntele Țigănești și continuăm spre dreapta, în lungul Văii Poarta, pe drumul carosabil, printre case şi
                                                    fânețe pitorești.
                                                    <br />
                                                    Ajungem la o nouă răspântie de drumuri, unde lăsăm varianta TG (traseul 22) - ce urcă prin Poiana Ciubotei în față, şi urcăm la dreapta pe
                                                    Muchia Izvoarelor, pe un drum de TAF, apoi pe potecă pentru aprox. 2-2.5 h, spre Muntele Gaura. După ce întâlnim CA (traseul 24) - ce vine
                                                    dinspre Șimon, în 5 minute ajungem în Şaua Poliţe (1623 m). De aici continuăm spre Poiana Gaura, unde întâlnim traseele dinspre Valea Şimon
                                                    (traseul 25), respectiv dinspre Poiana Guţanu (traseul 51). După o serie de suișuri și coborâșuri, ieșim la baza văii Gaura cu pereţi impunători
                                                    de stâncă. Urcăm pe firul văii pentru aprox. 20 min şi găsim indicatorul PR spre Cascada Moara Dracului (abatere 5 min. de la traseu). Cascada
                                                    se vede foarte frumos din partea de jos (în condiţiile în care nu este secetă mare).
                                                    <br />
                                                    Continuăm pe versantul stâng al văii, trecem pe lângă un izvor și urcăm o porțiune de lanțuri, apoi ajungem la stâna și adăpostul din căldarea
                                                    superioară a văii Gaura. Aici căldarea e cu adevărat grandioasă. Urmează urcarea spre Șaua Hornurilor, loc de unde se vede Cabana Mălăiești,
                                                    Vf. Scara, Bucsoiul Mare, Valea Gaura și alte zone minunate din Bucegi. După puțin timp ajungem la cabana Omu, staţia meteo şi refugiul
                                                    Salvamont administrat de Salvamont Bran. Stația meteo Vârful Omu este cel mai înalt punct locuit permanent din țară.
                                                </p>

                                                <br />

                                                <h3> <b> Indicatii de orientare </b></h3>
                                                <p>
                                                    Din Bran parcurgem satul Poarta, continuăm pe valea Ciubotea și urcăm pe Muchia Izvoarelor pe drum de TAF şi apoi pe potecă pentru 2-2 ½ ore
                                                    spre Muntele Gaura. Din Şaua Poliţe (1623 m) coborâm circa 100 de metri diferenţă de nivel prin pădure, spre sud, şi urcăm apoi până în Poiana
                                                    Gaura. Urmăm marcajele spre est spre partea alpină a Văii Gaura. Urcăm pe firul văii pentru 20 de minute, lăsăm în stânga cascada Moara Dracului
                                                    și pe versantul stâng (geografic) al văii ajungem la pragul intermediar al cascadei. Urcăm pragul glaciar până în căldarea mediană a văii, o
                                                    parcurgem și urcăm (ajutaţi de cabluri) pragul glaciar următor. Suntem la cota 2100, urmăm stâlpii de marcaj care ne urcă pe partea dreaptă
                                                    (geografic) a căldării spre stâna din căldarea superioară a văii. Din dreptul stânei cotim 90 de grade la stânga şi urcăm ultimii 150 de metri
                                                    diferenţă de nivel până în Şaua Hornurilor. Cotim dreapta și în 30-45 de minute ajungem la cabana Omu (2507 m).
                                                </p>

                                                <br />

                                                <h3> <b> Galerie </b></h3>
                                                <div id="main">
                                                    <div class="gallery">
                                                        <a href="~/Sources/Gallery/bran2.jpg" data-lightbox="mygallery" data-title="Bran - Poiana Gaura - Cabana Omu">
                                                            <img src="~/Sources/Gallery/bran2.jpg" />
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 all gra">
                                <div class="product-item">
                                    <img src="~/Sources/Gallery/simon3.jpg" alt="">
                                    <div class="down-content">
                                        <h4> Şimon - Culmea Bălăban - sub Şaua Poliţe </h4>
                                        <p> Legătura Șimon - Muntele Gaura, peste Culmea Bălăban </p>

                                        <a class="btn btn-success glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".trailmodal3">
                                            Citeste mai mult
                                        </a>
                                    </div>
                                </div>

                                <div class="modal fade trailmodal3">
                                    <div class="modal-dialog modal-xl" style="width:90%">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"> <span> &times; </span> </button>
                                                <div class="modal-title"> <h1> Şimon - Culmea Bălăban - sub Şaua Poliţe </h1> </div>

                                            </div>

                                            <div class="modal-body">
                                                <table>
                                                    <tr>
                                                        <th> Dificultate </th>
                                                        <th> Distanță </th>
                                                        <th> Durată </th>
                                                        <th> Urcare </th>
                                                        <th> Coborâre </th>
                                                    </tr>
                                                    <tr>
                                                        <td> mediu/dificil </td>
                                                        <td> 6,59 KM </td>
                                                        <td> 3:00-3:45 H </td>
                                                        <td> 820M </td>
                                                        <td> 130M </td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Cele mai bune sezoane </b></h3>
                                                <table>
                                                    <tr>
                                                        <td>Ianuarie</td>
                                                        <td>Februarie</td>
                                                        <td>Martie</td>
                                                        <td>Aprilie</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"> Mai </td>
                                                        <td rowspan="4"> Iunie</td>
                                                        <td>Iulie</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"> August </td>
                                                        <td>Septembrie</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Octombrie</td>
                                                        <td>Noiembrie</td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Etape </b></h3>
                                                <p>
                                                    Şimon - Culmea Bălăban - Schitul Bran - sub Şaua Poliţe
                                                </p>

                                                <br />

                                                <h3> <b> Descriere </b></h3>
                                                <p>
                                                    Traseul 24 Cruce Albastră străbate Culmea Bălăban, apoi traversează Muchiei Izvoarelor spre Muntele Gaura pe un traseu care nu pune prea multe
                                                    dificultăți. Este căutat de fotografi pentru priveliștile spre spre creasta Pietrei Craiului, satul Poarta, perspectivele asupra abruptului
                                                    Bucșoiu, Scara, Gaura ș.a. Potrivit pentru cicloturism până după schit.
                                                    <br />
                                                    Traseul 24 CA face legătura între satul turistic Șimon și Muntele Gaura (Şaua Poliţe). Un traseu destul de solicitant, cu peste 800 m diferențe
                                                    de nivel, în cca. 3.5 h de drumeție. Iarna, zăpezile mari pot pune probleme.
                                                    <br />
                                                    Socotit de unii gura de Rai a Brașovului, satul Simon este situat la 6 km de castelul Bran și se remarcă prin conservarea și promovarea tradiţiilor
                                                    populare din zonă, fiind declarat sat turistic. În acest loc încântător, înconjurat de minunatele creste montane ale Bucegilor, Pietrei Craiului,
                                                    Postăvarului și de Măgura Codlei, se găsește Schitul Bran și alături de el câteva pensiuni, parcă desprinse din basme.
                                                    <br />
                                                    Din Valea Șimonului pornesc mai multe trasee turistice, iar acesta spre Șaua Polițe este unul popular între fotografi. E ușor să uiți de toate
                                                    problemele cotidiene, de zgomotul orașului, și să te lași cuprins de liniștea împăciuitoare a zonei. Totul devine atemporal, odată ce privești
                                                    spre creasta Pietrei Craiului sau spre Valea Rece și satul Poarta.
                                                    <br />
                                                    Traseul CA urcă pe Culmea Bălăban, care apare pe hărți ca strada Bălăban, pe lângă schitul Bran, de unde începe traversarea Muchiei Izvoarelor,
                                                    cu perspective asupra abruptului Bucșoiu, Scara și Gaura. Un ultim urcuș mai susținut prin pădure, ne scoate la cota 1600, unde întâlnim varianta
                                                    CR (traseul 23) dinspre satul Poarta. Putem urca sub Muntele Gaura, în Şaua Poliţe (1620 m), apoi coborî la Valea Gaura, cu Cascada Moara Dracului
                                                    (vezi descriere traseul 23).
                                                </p>

                                                <br />

                                                <h3> <b> Indicatii de orientare </b></h3>
                                                <p>
                                                    La circa 500 de metri de la intrarea din Bran în Şimon găsim o biserică mică, cotim stânga pe uliţă până pe Culmea Bălăban, la casa omonimă
                                                    (cca 1000 m). Continuăm până la Schitul Bran și după el, pe drumul de acces auto, începem urcușul abrupt prin pădure, până la cota 1600, sub
                                                    Şaua Poliţe.
                                                </p>

                                                <br />

                                                <h3> <b> Galerie </b></h3>
                                                <div id="main">
                                                    <div class="gallery">
                                                        <a href="~/Sources/Gallery/simon3.jpg" data-lightbox="mygallery" data-title="Şimon - Culmea Bălăban - sub Şaua Poliţe">
                                                            <img src="~/Sources/Gallery/simon3.jpg" />
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 all gra">
                                <div class="product-item">
                                    <img src="~/Sources/Gallery/bran1.jpg" alt="">
                                    <div class="down-content">
                                        <h4> Bran - Poiana Gaura </h4>
                                        <p> Legătura Șimon - Valea Gaura, pe Valea Șimon </p>

                                        <a class="btn btn-success glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".trailmodal4">
                                            Citeste mai mult
                                        </a>
                                    </div>
                                </div>

                                <div class="modal fade trailmodal4">
                                    <div class="modal-dialog modal-xl" style="width:90%">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"> <span> &times; </span> </button>
                                                <div class="modal-title"> <h1> Bran - Poiana Gaura </h1> </div>

                                            </div>

                                            <div class="modal-body">
                                                <table>
                                                    <tr>
                                                        <th> Dificultate </th>
                                                        <th> Distanță </th>
                                                        <th> Durată </th>
                                                        <th> Urcare </th>
                                                        <th> Coborâre </th>
                                                    </tr>
                                                    <tr>
                                                        <td> mediu/dificil </td>
                                                        <td> 11,69 KM </td>
                                                        <td> 3:30-4:15 H </td>
                                                        <td> 750 M </td>
                                                        <td> 0 M </td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Cele mai bune sezoane </b></h3>
                                                <table>
                                                    <tr>
                                                        <td>Martie</td>
                                                        <td>Aprilie</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"> Mai </td>
                                                        <td rowspan="4"> Iunie</td>
                                                        <td>Iulie</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"> August </td>
                                                        <td>Septembrie</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Octombrie</td>
                                                        <td>Noiembrie</td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Etape </b></h3>
                                                <p>
                                                    Bran - Valea Şimon - Poiana Gaura
                                                </p>

                                                <br />

                                                <h3> <b> Descriere </b></h3>
                                                <p>
                                                    Traseul 25 Triunghi Galben urmărește aproape în majoritate Valea Șimonului spre Poiana Gaura, într-o urcare continuă, dar care nu pune prea
                                                    multe dificultăți. Este un traseu care te încântă de la debut până la final, Valea Gaura, fiind una dintre cele mai frumoase văi din țară.
                                                    Potrivit pentru cicloturism până după Monumentul Militarilor Israeliți.
                                                    <br />
                                                    Traseul 25 face legătura între satul turistic Șimon și Valea Gaura, urmărind fidel Valea Șimon. Un traseu destul de solicitant cu aprox. 800
                                                    m diferențe de nivel, în cca. 4.5 h de drumeție. Iarna, zăpezile mari pot pune probleme.
                                                    <br />
                                                    Din Valea Șimonului pornesc mai multe trasee montane, iar acesta spre Valea Gaura are ambele capete de o frumusețe rară. Dacă din Șimon te
                                                    bucuri de priveliștea fascinantă a crestei Pietrei Craiului și satul Poarta, odată intrat pe Valea Gaura ai în față căldarea grandioasă de un
                                                    spect<br />acol inegalabil a versantului vestic al Bucegilor.

                                                    Socotit de unii gura de Rai a Brașovului, satul Simon este situat la 6 km de castelul Bran și se remarcă prin conservarea și promovarea
                                                    tradiţiilor populare din zonă, fiind declarat sat turistic. În acest loc încântător, înconjurat de minunatele creste muontane ale Bucegilor,
                                                    Pietrei Craiului, Postăvarului și de Măgura Codlei, se găsește Schitul Bran și alături de el câteva pensiuni, parcă desprinse din basme.
                                                    <br />
                                                    De la biserica Șimon, unde lăsăm traseul CA spre Schitul Bran la stânga (traseul 24) urmăm firul Văii Șimon pe parcursul a 2-2.5 h până mai
                                                    sus de Monumentul Militarilor Israeliți. De aici continuăm prin pădure și urcăm în serpentine strânse pe piciorul Muntelui Vlădoaia până în
                                                    Poiana Gaura, unde întâlnim traseele dinspre Bran (traseul 23), respectiv dinspre Poiana Guţanu (traseul 51). Dacă urmăm CR și derivația
                                                    scurtă PR, putem ajunge la Cascada Moara Dracului (vezi descriere traseul 23).
                                                </p>

                                                <br />

                                                <h3> <b> Indicatii de orientare </b></h3>
                                                <p>
                                                    Din Bran parcurgem satul Șimon și pe drumul forestier de pe Valea Șimon trecem de monumentul dedicat militarilor evrei căzuti într-un accident
                                                    aviatic în 2010. Continuăm pe firul apei, acesta dispare și intrăm în pădure unde urcăm în serpentine strânse pe piciorul Muntelui Vlădoaia
                                                    până în Poiana Gaura.
                                                </p>

                                                <br />

                                                <h3> <b> Galerie </b></h3>
                                                <div id="main">
                                                    <div class="gallery">
                                                        <a href="~/Sources/Gallery/bran1.jpg" data-lightbox="mygallery" data-title="Bran - Poiana Gaura">
                                                            <img src="~/Sources/Gallery/bran1.jpg" />
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 all dev">
                                <div class="product-item">
                                    <img src="~/Sources/Gallery/simon2.jpg" alt="">
                                    <div class="down-content">
                                        <h4> Şimon - Vâlcelul Guţanului - Poiana Guţanu </h4>
                                        <p> Legătura Șimon - Poiana Guţanu, pe Valea Șimon </p>

                                        <a class="btn btn-success glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".trailmodal5">
                                            Citeste mai mult
                                        </a>
                                    </div>
                                </div>

                                <div class="modal fade trailmodal5">
                                    <div class="modal-dialog modal-xl" style="width:90%">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"> <span> &times; </span> </button>
                                                <div class="modal-title"> <h1> Şimon - Vâlcelul Guţanului - Poiana Guţanu </h1> </div>

                                            </div>

                                            <div class="modal-body">
                                                <table>
                                                    <tr>
                                                        <th> Dificultate </th>
                                                        <th> Distanță </th>
                                                        <th> Durată </th>
                                                        <th> Urcare </th>
                                                        <th> Coborâre </th>
                                                    </tr>
                                                    <tr>
                                                        <td> mediu/dificil </td>
                                                        <td> 16,18 KM </td>
                                                        <td> 4:45-6:00 H </td>
                                                        <td> 1040 M </td>
                                                        <td> 320 M </td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Cele mai bune sezoane </b></h3>
                                                <table>
                                                    <tr>
                                                        <td>Ianuarie</td>
                                                        <td>Februarie</td>
                                                        <td>Martie</td>
                                                        <td>Aprilie</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"> Mai </td>
                                                        <td rowspan="4"> Iunie</td>
                                                        <td>Iulie</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"> August </td>
                                                        <td>Septembrie</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Octombrie</td>
                                                        <td>Noiembrie</td>
                                                        <td>Decembrie</td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Etape </b></h3>
                                                <p>
                                                    Şimon - Valea Şimon - Vâlcelul Guţanului - Poiana Guţanu
                                                </p>

                                                <br />

                                                <h3> <b> Descriere </b></h3>
                                                <p>
                                                    Traseul 26 Bandă Albastră urmărește Valea Șimon, apoi Vâlcelul Guţanului, pe drumul care urcă aproape de fosta casă de
                                                    vânătoare Bângăleasa, într-o urcare progresivă, dar care nu pune prea multe dificultăți. Traversăm câteva poienițe apoi
                                                    urcăm în coaste Muchiei Pietrele Albe până pe Muntele Pleșei, aproape de Poiana Guțanu.
                                                    <br />
                                                    Traseul 26 BA face legătura între satul turistic Șimon și Poiana Guțanu, urmărind Valea Șimon și Vl. Guţanului. Un traseu destul
                                                    de solicitant cu aprox. 750 m diferențe de nivel, în cca. 4 h de drumeție. Iarna, zăpezile mari pot pune probleme.
                                                    <br />
                                                    Verdele nesfârșit, dealurile cu turme de oi, aerul tare de munte, liniștea împăciuitoare a zonei și frumusețea desăvârșită a
                                                    locului, sunt câteva din atuurile care te cheamă în satul turistic Șimon. În acest loc încântător, înconjurat de minunatele
                                                    creste montane ale Bucegilor, Pietrei Craiului, Postăvarului și de Măgura Codlei, se găsește Schitul Bran și alături de el
                                                    câteva pensiuni, parcă desprinse din basme.
                                                    <br />
                                                    Lăsând deoparte atracțiile locului, traseul BA pe pe firul Văii Șimon spre Poiana Guțanu se înscrie ca unul spectaculos, mai
                                                    ales dacă alegi să-l parcurgi la mijloc de primăvară când e încărcat de frăguțe, margarete, garoafe de câmp și flori de susai.
                                                    <br />
                                                    Puţin după ieşirea din Şimon, Valea Şimonului se desparte de Plaiul lui Lom (traseul 27), iar noi urmăm poteca BA care urcă în
                                                    coaste Muchiei Pietrele Albe până pe Muntele Pleșei, aproape de Poiana Guțanu. Aici regăsim traseul principal BR care urcă
                                                    Muntele Pleșei și trece pe la fosta casă de vânătoare Bângăleasa (vezi descriere traseul 27).
                                                    <br />
                                                    Din Poiana Guțanu, cei antrenați au câteva opțiuni: direct spre Vf. Bătrâna pe varianta TR (traseul 28); spre Șaua Strunga, pe
                                                    BR (traseul 27); sau spre Poiana Gaura, pe varianta TA (traseul 51), de unde se poate ajunge la Cascada Moara Dracului
                                                    (vezi traseul 23).
                                                </p>

                                                <br />

                                                <h3> <b> Indicatii de orientare </b></h3>
                                                <p>
                                                    De la intrarea în Şimon (DN73 Bran) parcurgem satul Şimon pentru circa 6 km. În dreptul bisericii avem legătura cu traseul 24.
                                                    Puţin după ieşirea din Şimon se desparte Valea Şimonului de Valea lui Lambă (Plaiul lui Lom). Pe această vale urcă traseulul 27
                                                    (bandă roşie) spre Poiana Guţanu. Noi continuăm pe Valea Şimonului şi după circa 5 km ajungem la un pod, de unde traseul 25
                                                    (triunghi galben) urcă spre stâna şi Poiana Gaura, pe Valea Gaura. Traversăm podul şi urcăm pe lângă Vâlcelul Guţanului, pe
                                                    linia Muchiei Pietrele Albe, printr-o galerie prin pădurea de conifere, până într-o poiană lungă. În dreapta ei părăsim poiana
                                                    şi urcăm pe potecă până într-o serpentină a drumului de TAF spre Poiana Guţanu. Din această serpentină urmăm în amonte drumul
                                                    de TAF timp de 40-45 de minute, până în partea de jos a Poienii Guţanu. Trecem pe sub stâna veche şi urcăm până deasupra Casei
                                                    de vânătoare Bângăleasa (legătura cu traseele 27 şi 28).
                                                </p>

                                                <br />

                                                <h3> <b> Galerie </b></h3>
                                                <div id="main">
                                                    <div class="gallery">
                                                        <a href="~/Sources/Gallery/simon2.jpg" data-lightbox="mygallery" data-title="Şimon - Vâlcelul Guţanului - Poiana Guţanu">
                                                            <img src="~/Sources/Gallery/simon2.jpg" />
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 all des">
                                <div class="product-item">
                                    <img src="~/Sources/Gallery/simon1.jpg" alt="">
                                    <div class="down-content">
                                        <h4> Şimon - Poiana Guţanu - Cabana Padina </h4>
                                        <p> Legătura Șimon - Cabana Padina, prin Poiana Guţanu </p>
                                        <br />
                                        <a class="btn btn-success glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".trailmodal6">
                                            Citeste mai mult
                                        </a>
                                    </div>
                                </div>

                                <div class="modal fade trailmodal6">
                                    <div class="modal-dialog modal-xl" style="width:90%">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"> <span> &times; </span> </button>
                                                <div class="modal-title"> <h1> Şimon - Poiana Guţanu - Cabana Padina </h1> </div>

                                            </div>

                                            <div class="modal-body">
                                                <table>
                                                    <tr>
                                                        <th> Dificultate </th>
                                                        <th> Distanță </th>
                                                        <th> Durată </th>
                                                        <th> Urcare </th>
                                                        <th> Coborâre </th>
                                                    </tr>
                                                    <tr>
                                                        <td> mediu/dificil </td>
                                                        <td> 18,74 KM </td>
                                                        <td> 5:30-6:45 H </td>
                                                        <td> 1140 M </td>
                                                        <td> 390 M </td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Cele mai bune sezoane </b></h3>
                                                <table>
                                                    <tr>
                                                        <td>Ianuarie</td>
                                                        <td>Februarie</td>
                                                        <td>Martie</td>
                                                        <td>Aprilie</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"> Mai </td>
                                                        <td rowspan="4"> Iunie</td>
                                                        <td>Iulie</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"> August </td>
                                                        <td>Septembrie</td>
                                                        <td>Octombrie</td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Etape </b></h3>
                                                <p>
                                                    Şimon - Plaiul lui Lom - Poiana Guţanu - Şaua Strunga - Cabana Padina
                                                </p>

                                                <br />

                                                <h3> <b> Descriere </b></h3>
                                                <p>
                                                    Traseul 27 Bandă Roșie este magistrala care urcă la Cabana Padina, tocmai dinspre satul turistic Șimon. Poteca străbate
                                                    pitorescul sat turistic Șimon, urcă pe Plaiul Lui Lom (cu perspective frumoase asupra Munţilor Leaotei), ține Culmea Pleșei,
                                                    apoi continuă pe sub Colții Țapului spre Șaua Strunga, de unde coborâm la Cabana Padina.
                                                    <br />
                                                    Traseul 27 BR face legătura între satul turistic Șimon și Cabana Padina, trecând prin Poiana Guţanu și Șaua Strunga.
                                                    Un traseu lung și dificil, potrivit celor obișnuiți cu diferențe de nivel de peste 1500 m, în cca. 7-8 h de drumeție.
                                                    Iarna, zăpezile mari pot pune probleme.
                                                    <br />
                                                    Cabana Padina este situată la într-un cadru natural de excepție, pe Valea Ialomiței, de la poalele Munților Bucegi.
                                                    Chiar dacă accesul în zonă se poate face chiar și cu rulota, Padina a rămas o oază de relaxare unde poți campa la cort,
                                                    aproape de Cheile Horoabei.
                                                    <br />
                                                    Traseul BR pornește din satul turistic Șimon, de pe Valea Șimonu unul dintre cele mai fotogenice locuri din țară, căutat de
                                                    turiști pentru frumusețea desăvârșită a locului. În acest loc încântător, înconjurat de minunatele creste montane ale Bucegilor,
                                                    Pietrei Craiului, Postăvarului și de Măgura Codlei, se găsește Schitul Bran și alături de el câteva pensiuni, parcă desprinse
                                                    din basme.
                                                    <br />
                                                    De la biserica Șimon, unde lăsăm traseul CA spre Schitul Bran la stânga (traseul 24) urmăm firul Văii Șimon alături de TG
                                                    (traseul 25) și BA (traseul 26) pe șoseaua asfaltată, până după ultimele case, unde facem dreapta pe un pod, pe firul Văii
                                                    lui Lom  Urcăm lin pe culmea Plaiului lui Lom (cca. 1 h), traversând 2 poieni lungi cu puncte de belvedere spre culmile
                                                    îndepărtate ale Munţilor Leaotei.
                                                    <br />
                                                    Continuăm apoi peste Muntele Pleșei spre Poiana Guțanu, trecând de fosta casă de vânătoare Bângăleasa. La scurt timp,
                                                    părăsim varianta TR (traseul 28) - dinspre Moieciu de Sus și varianta TA (traseul 51) - spre Poiana Gaura, și urcăm la
                                                    dreapta pe curbă de nivel ascendentă prin câteva poienițe cu stâne, pe la izvoarele Văii Grohotişului, traversând V. Rea,
                                                    V. Merezului şi V. Prăvalelor, unde găsim singurul izvor de pe traseu.
                                                    <br />
                                                    De aici, în 5 minute ajungem în Şaua Strunga (1909 m), cu refugiul Strunga, lângă care găsim indicatoarele spre Muntele
                                                    Bucșa (traseul 30) și Vf. Bătrâna (traseul 54), de asemenea cu marcaj BR. Continuăm în coborâre, urmând stâlpii de marcaj
                                                    şi apoi drumul de TAF până la Cabana Padina (1509 m), alături de CR (traseul 29) - dinspre Moieciu.
                                                </p>

                                                <br />

                                                <h3> <b> Indicatii de orientare </b></h3>
                                                <p>
                                                    Din Bran parcurgem satul Șimon și după ultimele case facem dreapta pe pod, spre Valea lui Lambă și apoi, după circa 50 de metri 
                                                    trecem apa şi urcăm în stânga, pe culmea Plaiului lui Lom. Traversăm două poieni lungi şi urcăm până la capătul de jos al 
                                                    Poienii Guţanu. Urcăm prin poiană pe la fosta Casă de vânătoare Bângăleasa, traversăm un pâlc de conifere și continuăm în 
                                                    dreapta prin pădure pe curbă de nivel ascendentă, prin partea superioară a Văii Grohotişului, a Văii Rele, a Văii Merezului 
                                                    şi a Văii Prăvalelor și ajungem în Şaua Strunga (1909 m) sub care găsim refugiul Strunga. Continuăm pe extrema versantului 
                                                    stâng al Văii Coteanu (sub Muntele Colţi), în coborâre, urmăm stâlpii de marcaj şi drumul de TAF ne scoate pe lângă stâna 
                                                    Strunga la Cabana Padina (1509 m).
                                                </p>

                                                <br />

                                                <h3> <b> Galerie </b></h3>

                                                <div id="main">
                                                    <div class="gallery">
                                                        <a href="~/Sources/Gallery/simon1.jpg" data-lightbox="mygallery" data-title="Şimon - Poiana Guţanu - Cabana Padina">
                                                            <img src="~/Sources/Gallery/simon1.jpg" />
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 all des">
                                <div class="product-item">
                                    <img src="~/Sources/Gallery/moieciu2.jpg" alt="">
                                    <div class="down-content">
                                        <h4> Moieciu de Sus - Şaua Batrâna - Hotel Peştera </h4>
                                        <p> Legătura Moieciu - Hotel Peștera, prin Șaua Bătrâna </p>
                                        <br />
                                        <a class="btn btn-success glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".trailmodal7">
                                            Citeste mai mult
                                        </a>
                                    </div>
                                </div>

                                <div class="modal fade trailmodal7">
                                    <div class="modal-dialog modal-xl" style="width:90%">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"> <span> &times; </span> </button>
                                                <div class="modal-title"> <h1> Moieciu de Sus - Şaua Batrâna - Hotel Peştera </h1> </div>

                                            </div>

                                            <div class="modal-body">
                                                <table>
                                                    <tr>
                                                        <th> Dificultate </th>
                                                        <th> Distanță </th>
                                                        <th> Durată </th>
                                                        <th> Urcare </th>
                                                        <th> Coborâre </th>
                                                    </tr>
                                                    <tr>
                                                        <td> mediu/dificil </td>
                                                        <td> 14,13 KM </td>
                                                        <td> 4:45-5:45 H </td>
                                                        <td> 1200 M </td>
                                                        <td> 540 M </td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Cele mai bune sezoane </b></h3>
                                                <table>
                                                    <tr>
                                                        <td>Ianuarie</td>
                                                        <td>Februarie</td>
                                                        <td>Martie</td>
                                                        <td>Aprilie</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"> Mai </td>
                                                        <td rowspan="4"> Iunie</td>
                                                        <td>Iulie</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"> August </td>
                                                        <td>Septembrie</td>
                                                        <td>Octombrie</td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Etape </b></h3>
                                                <p>
                                                    Moieciu de Sus - Poiana Guţanu - Şaua Batrâna - Hotel Peştera
                                                </p>

                                                <br />

                                                <h3> <b> Descriere </b></h3>
                                                <p>
                                                    Traseul 28 Triunghi Roșu străbate şoseaua de pe Valea Bângăleasa, urcă pe Culmea Pleşei și trece de Poiana Guțanu cu direcția
                                                    Vârful Bătrâna. Următorul segment coboară la Cascada Doamnele, apoi continuă pe sub Piciorul Babelor până la Hotelul Peştera.
                                                    Priveliști spre Abruptul Guțanului, Muntele Bătrâna și Muntele Doamnele.
                                                    <br />
                                                    Traseul 28 TR face legătura între Moieciu de Sus și Hotel Peștera, trecând prin Poiana Guțanu și peste Vf. Bătrâna. Un traseu
                                                    solicitant, potrivit celor experimentați, obișnuiți cu diferențe de nivel de peste 1500 m, în cca. 7-8 h de drumeție. Iarna -
                                                    nerecomandat.
                                                    <br />
                                                    Moieciu de Sus, aflat un pic mai departe de obiectivele turistice ale zonei, se bucură de o liniște și un pitoresc greu de
                                                    egalat. Aerul curat şi peisajele absolut încântătoare ale Bucegilor și Pietrei Craiului, îl fac o destinație în.sine, dar și
                                                    un punct excelent de plecare înspre crestele înalte ale Bucegilor.
                                                    <br />
                                                    Un astfel de traseu pitoresc este și varianta TR, ce lasă în urmă imaginea Crailor, pornind pe drumul auto Valea Bângăleasa
                                                    până ce acesta devine forestier. Intrăm pe potecă pe un pod la stânga și urcăm cca. 45 min pe Culmea Pleşei. În această zonă
                                                    există o serie de specii de floră protejate, cum ar fi rododendronul, floarea de colț și garofița albă, așadar avem cu ce admira
                                                    dacă alegem să parcurgem traseul primăvara.
                                                    <br />
                                                    După ce trecem de fosta casă de vânătoare Bângăleasa, lângă care întâlnim varianta BA (traseul 26) - dinspre satul turistic
                                                    Șimon, continuăm spre Poiana Guțanu. La scurt timp prin pădure intrăm printr-un culoar între jnepeni care ne conduce după 20-25
                                                    min la poiana largă de sub Muntele Bătrâna. De aici urmează o urcare „stâncoasă” și abruptă până în Șaua Bătrâna (2150 m) cu
                                                    Refugiul Bătrâna și continuăm mai departe pe sub Vârful Bătrâna.
                                                    <br />
                                                    Începem coborârea pe firul de obârşie al Văii Doamnele, depășim un prag glaciar și ajungem la Cascada Doamnele. Continuăm până
                                                    pe platoul aflat sub Stâna Doamnele, unde întâlnim varianta PR (traseul 44) - legătura cu M. Doamnele, apoi urmăm drumul auto
                                                    ce deserveşte Stâna Doamnele. În 20-25 min ajungem la Hotelul Peştera.
                                                </p>

                                                <br />

                                                <h3> <b> Indicatii de orientare </b></h3>
                                                <p>
                                                    Din Moieciu de Sus mergem pe Valea Bângăleasa și la un kilometru după barieră traversăm apa pe un pod în stânga şi urcăm circa
                                                    45 de minute pe Culmea Pleşei, pe serpentine strânse. Ieşim în partea de jos a Poienii Guţanu, continuăm urcarea pe lângă fosta
                                                    Casă de vânătoare Bângăleasa, traversăm un pâlc de conifere şi cotim la stânga spre centrul Poienii Guţanu, facem dreapta și 
                                                    urcăm din ce în ce mai abrupt prin poiană. Intrăm în pădure și după câteva minute prin pădure intrăm printr-un culoar între 
                                                    jnepeni care ne duce la poiana largă de sub Muntele Bătrâna. Poteca urcă abrupt în serpentine, printre ţancuri stâncoase şi 
                                                    apoi face câteva serpentine largi spre Şaua Bătrâna (refugiu montan). Din Şaua Bătrâna mergem 5 minute spre sud până în culmea
                                                    Muntelui Bătrâna şi de aici continuăm pe versantul nordic al Muntelui Bătrâna. Coborâm pe Valea Doamnele, trecem pragul glaciar
                                                    de deasupra Cascadei Doamnele, coborâm până în firul apei, îl trecem pe stânga şi ajungem pe platoul aflat sub Stâna Doamnele.
                                                    Continuăm să coborâm, trecem apa Obârşiei şi ajungem la drumul auto ce deserveşte Stâna Doamnele. Urmând drumul ajungem la baza 
                                                    Piciorului Babelor, la Hotelul Peştera.
                                                </p>

                                                <br />

                                                <h3> <b> Galerie </b></h3>

                                                <div id="main">
                                                    <div class="gallery">
                                                        <a href="~/Sources/Gallery/moieciu2.jpg" data-lightbox="mygallery" data-title="Moieciu de Sus - Şaua Batrâna - Hotel Peştera">
                                                            <img src="~/Sources/Gallery/moieciu2.jpg" />
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 all des">
                                <div class="product-item">
                                    <img src="~/Sources/Gallery/moieciu1.jpg" alt="">
                                    <div class="down-content">
                                        <h4> Moieciu de Sus - Şaua Strunga - Cabana Padina </h4>
                                        <p> Legătura Moieciu - Cabana Padina, prin Șaua Strunga </p>

                                        <a class="btn btn-success glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".trailmodal8">
                                            Citeste mai mult
                                        </a>
                                    </div>
                                </div>

                                <div class="modal fade trailmodal8">
                                    <div class="modal-dialog modal-xl" style="width:90%">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"> <span> &times; </span> </button>
                                                <div class="modal-title"> <h1> Moieciu de Sus - Şaua Strunga - Cabana Padina </h1> </div>

                                            </div>

                                            <div class="modal-body">
                                                <table>
                                                    <tr>
                                                        <th> Dificultate </th>
                                                        <th> Distanță </th>
                                                        <th> Durată </th>
                                                        <th> Urcare </th>
                                                        <th> Coborâre </th>
                                                    </tr>
                                                    <tr>
                                                        <td> mediu/dificil </td>
                                                        <td> 12,78 KM </td>
                                                        <td> 4:00-4:45 H </td>
                                                        <td> 940 M </td>
                                                        <td> 390 M </td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Cele mai bune sezoane </b></h3>
                                                <table>
                                                    <tr>
                                                        <td>Ianuarie</td>
                                                        <td>Februarie</td>
                                                        <td>Martie</td>
                                                        <td>Aprilie</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"> Mai </td>
                                                        <td rowspan="4"> Iunie</td>
                                                        <td>Iulie</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"> August </td>
                                                        <td>Septembrie</td>
                                                        <td>Octombrie</td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Etape </b></h3>
                                                <p>
                                                    Moieciu de Sus - Valea Prăvalele - Şaua Strunga - Cabana Padina
                                                </p>

                                                <br />

                                                <h3> <b> Descriere </b></h3>
                                                <p>
                                                    Traseul 29 Cruce Roșie străbate şoseaua de pe Valea Bângăleasa, apoi urmează firul Grohotișului și Valea Seacă a Prăvalelor
                                                    până sub abruptul vestic al Bucegilor cu Strungile Mari și Strungile Mici. Din Șaua Strunga coborâm la Cabana Padina.
                                                    <br />
                                                    Traseul 29 CR face legătura între Moieciu de Sus și Cabana Padina, trecând pe sub Strungile Mari, pe la Refugiul Strunga.
                                                    Un traseu destul de solicitant, cu aprox.1500 m diferențe de nivel, în cca. 5-6 h de drumeție.  Iarna, zăpezile mari pot pune
                                                    probleme.
                                                    <br />
                                                    Moieciu de Sus, aflat un pic mai departe de obiectivele turistice ale zonei, se bucură de o liniște și un pitoresc greu de
                                                    egalat. Aerul curat şi peisajele absolut încântătoare ale Bucegilor și Pietrei Craiului, îl fac o destinație în.sine, dar și
                                                    un punct excelent de plecare înspre crestele înalte ale Bucegilor.
                                                    <br />
                                                    Un astfel de traseu pitoresc este și varianta CR, mai puțin solicitant decât varianta TR (traseul 28) spre Hotel Peștera, dar
                                                    la fel de frumos. Odată ajuns pe Valea Grohotişului, după ce părăsești drumul auto (și apoi forestier), se deschide priveliștea
                                                    spre abruptul vestic al Bucegilor cu Strungile Mari, Strungile Mici și Șaua Strunga (în formă de U), captivante.
                                                    <br />
                                                    Urcăm pe firul slab al V. Grohotișului, apoi pe Valea Seacă a Prăvalelor până la cota la baza pajiştilor alpine, apoi ajungem
                                                    la cota 1700, unde întâlnim varianta BR (traseul 27) - dinspre Șimon, prin Poiana Guțanu. Cu o abatere de 5 min găsim singurul
                                                    izvor din zonă (captat printr-o ţeavă de plastic - nu curge în perioade secetoase!), apoi urcăm rapid în Şaua Strunga (1909 m),
                                                    cu refugiul Strunga, lângă care găsim indicatoarele spre Muntele Bucșa (traseul 30) și Vf. Bătrâna (traseul 54), cu marcaj BR.
                                                    <br />
                                                    Continuăm în coborâre, urmând stâlpii de marcaj şi apoi drumul de TAF până la Cabana Padina (1509 m). Padina este un nod turistic
                                                    important pentru traseele din zonă, un loc de odihnă și relaxare, unde poți ajunge cu orice mijloc de transport de la pas la
                                                    rulotă.
                                                </p>

                                                <br />

                                                <h3> <b> Indicatii de orientare </b></h3>
                                                <p>
                                                    Din Moieciu de Sus mergem pe Valea Bângăleasa și apoi pe Valea Grohotişului, la început pe drum forestier şi apoi pe potecă. 
                                                    După circa două ore de la plecare trecem apa Grohotişului pe dreapta şi urcăm printr-o poiană lungă. În capătul de sus al 
                                                    poienii traversăm iarăşi firul slab al Grohotişului şi începem să urcăm pe Valea Seacă a Prăvalelor până la baza pajiştilor 
                                                    alpine. Urcăm o pantă înclinată până la cota 1700, facem dreapta până în Şaua Strunga (1909 m) sub care găsim refugiul Strunga.
                                                    Continuăm pe extrema versantului stâng al Văii Coteanu (sub Muntele Colţi), în coborâre, urmăm stâlpii de marcaj şi drumul de
                                                    TAF ne scoate pe lângă stâna Strunga la Cabana Padina (1509 m).
                                                </p>

                                                <br />

                                                <h3> <b> Galerie </b></h3>

                                                <div id="main">
                                                    <div class="gallery">
                                                        <a href="~/Sources/Gallery/moieciu1.jpg" data-lightbox="mygallery" data-title="Moieciu de Sus - Şaua Strunga - Cabana Padina">
                                                            <img src="~/Sources/Gallery/moieciu1.jpg" />
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 all des">
                                <div class="product-item">
                                    <img src="~/Sources/Gallery/fundata1.jpg" alt="">
                                    <div class="down-content">
                                        <h4> Fundata - Vârful Bucşa - Cabana Padina </h4>
                                        <p> Legătura Fundata - Cabana Padina, prin Șaua Strunga </p>

                                        <a class="btn btn-success glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".trailmodal9">
                                            Citește mai mult
                                        </a>
                                    </div>
                                </div>

                                <div class="modal fade trailmodal9">
                                    <div class="modal-dialog modal-xl" style="width:90%">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"> <span> &times; </span> </button>
                                                <div class="modal-title"> <h1> Fundata - Vârful Bucşa - Cabana Padina </h1> </div>

                                            </div>

                                            <div class="modal-body">
                                                <table>
                                                    <tr>
                                                        <th> Dificultate </th>
                                                        <th> Distanță </th>
                                                        <th> Durată </th>
                                                        <th> Urcare </th>
                                                        <th> Coborâre </th>
                                                    </tr>
                                                    <tr>
                                                        <td> mediu/dificil </td>
                                                        <td> 20,44 KM </td>
                                                        <td> 5:30-7:00 H </td>
                                                        <td> 1070 M </td>
                                                        <td> 820 M </td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Cele mai bune sezoane </b></h3>
                                                <table>
                                                    <tr>
                                                        <td>Aprilie</td>
                                                        <td colspan="2"> Mai </td>
                                                        <td rowspan="4"> Iunie</td>
                                                        <td>Iulie</td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"> August </td>
                                                        <td>Septembrie</td>
                                                        <td>Octombrie</td>
                                                    </tr>
                                                </table>

                                                <br />

                                                <h3> <b> Etape </b></h3>
                                                <p>
                                                    Fundata - sat Fundăţica - Curmătura Fiarelor - Vârful Bucşa - Şaua Strunga - Cabana Padina
                                                </p>

                                                <br />

                                                <h3> <b> Descriere </b></h3>
                                                <p>
                                                    Traseul 30 Bandă Roșie leagă comuna Dâmbovicioara, de la poalele Craiului, de Cabana Padina, trecând peste cele câteva
                                                    vârfuri sub 2000 m (Vf. Sfântul Ilie, Piatra Albă, M Bucșa și Strungile Mici) care despart Munţii Bucegi de Munţii Leaota.
                                                    Din Șaua Strunga coborâm la Cabana Padina.
                                                    <br />
                                                    Traseul 30 BR face legătura între satul Fundata și Cabana Padina, trecând peste M. Bucșa și  pe la Refugiul Strunga. Un traseu
                                                    destul de solicitant, cu peste.1500 m diferențe de nivel, în cca. 7-8 h de drumeție.  Iarna, zăpezile mari pot pune probleme.
                                                    <br />
                                                    Într-unul dintre locurile unde se împleteşte Transilvania cu Muntenia, ne aşteaptă unul dintre cele mai pitoreşti şi idilice
                                                    sate din țară, mărginit de Munţii Bucegi şi Piatra Craiului. Fundata este comuna aflată la cea mai mare altitudine din ţara
                                                    noastră iar panorama care se arată de la cei 1360 mi este una cu adevărat spectaculoasă. Aerul purificat şi peisajele absolut
                                                    încântătoare ale Bucegilor și Pietrei Craiului, îl fac o destinație în.sine, dar și un punct excelent de plecare înspre crestele
                                                    înalte ale Bucegilor. Este cazul și acestui traseu pitoresc, cu diferențe de nivel însemnate, ce antrenează condiția fizică a
                                                    drumețului ce-l ia la pas, dar îi oferă drept răsplată niște orizonturi unice care să-i bucure sufletul.
                                                    <br />
                                                    Din centrul comunei Fundata coborâm cca 2 km până în centrul satului Fundăţica, cu imaginea crestelor semeţe şi ascuţite ale
                                                    Pietrei Craiului. Apucăm poteca BR, în urcare pe Şleaul Mândrului, lăsând la dreapta varianta PR (traseul 67) - spre Podu
                                                    Dâmboviței. Continuăm pe versantul estic al Muntelui Sântilia până în şaua denumită generic Curmătura Fiarelor (1794 m), care
                                                    desparte Munţii Bucegi de Munţii Leaota.
                                                    <br />
                                                    Traversăm versantul estic al Vârfului Sfântul Ilie (ars de un incendiu în 2012), urmăm linia crestei peste două vârfuleţe şi
                                                    urcăm spre Muntele Dudele până în Şaua Dudele, aflată sub Dudele Mari (1954 m). Continuăm pe creastă şi urcăm pe Vârful Bucşa
                                                    (1846 m), sub care ajunge și varianta TR (traseul 52) - dinspre Valea Bângăleasa. Continuăm spre Şaua Strunguliţa, în care
                                                    ajunge varianta PG (traseul 53) - dinspre Şaua Tătarului.
                                                    <br />
                                                    Ținem poteca pe curbă ușor descendentă, pe sub Strungile Mici și Colţii Strungii, apoi ajungem în 10-15 min în Şaua Strunga,
                                                    cu Refugiul Strunga, lângă care găsim indicatoarele CR spre Moieciu (traseul 29) și Vf. Bătrâna (traseul 54), cu marcaj BR.
                                                    Continuăm în coborâre, urmând stâlpii de marcaj şi apoi drumul de TAF până la Cabana Padina (1509 m). Padina este un nod
                                                    turistic important pentru traseele din zonă, un loc de odihnă și relaxare, unde poți ajunge cu orice mijloc de transport
                                                    de la pas la rulotă.
                                                </p>

                                                <br />

                                                <h3> <b> Indicatii de orientare </b></h3>
                                                <p>
                                                    Din centrul comunei Fundata coborâm pe un drum de TAF în Fundăţica, facem stânga pe drumul principal pentru 800 de metri şi 
                                                    apoi dreapta pe lângă o staţie de captare a apei. Urcăm pe Șleaul Mândrului, trecem pe lângă al doilea punct de captare a 
                                                    apei şi urmăm drumul, până ce acesta rămâne doar o potecă marcată. Urcăm pe versantul estic al Muntelui Sântilia până în 
                                                    şaua aflată la vest de acesta şi apoi pe versantul vestic al Vârfului Sfântul Ilie ajungem la 1794 m în Curmătura Fiarelor.
                                                    Pe curbă de nivel traversăm versantul estic al Vârfului Sfântul Ilie (1888 m), urmăm linia crestei peste două vârfuleţe şi 
                                                    urcăm pe Muntele Dudele în Şaua Dudele. Coborâm în şaua următoare şi urcăm pe Vârful Bucşa (1846 m). Coborâm în Şaua Bucşa
                                                    şi urcăm spre est până în Şaua Strunguliţa. Pe curbă ușor descendentă, spre nord pe sub Colţii Strungii, ajungem în Şaua
                                                    Strunga. Continuăm pe extrema versantului stâng al Văii Coteanu (sub Muntele Colţi). În coborâre urmăm stâlpii de marcaj şi
                                                    apoi drumul de TAF care ne scoate pe lângă Stâna Strunga la Cabana Padina (1509 m).
                                                </p>

                                                <br />

                                                <h3> <b> Galerie </b></h3>

                                                <div id="main">
                                                    <div class="gallery">
                                                        <a href="~/Sources/Gallery/fundata1.jpg" data-lightbox="mygallery" data-title="Fundata - Vârful Bucşa - Cabana Padina"> 
                                                            <img src="~/Sources/Gallery/fundata1.jpg" /> 
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal"> Cancel </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <ul class="pages">
                        <li><a href="@Url.Action("Index", "TrailModelsList")"> 1 </a></li>
                        <li><a href="@Url.Action("Index", "TrailModelsList2")"> 2 </a></li>
                        <li class="active"><a href="#"> 3 </a></li>
                        <li><a href="@Url.Action("Index", "TrailModelsList4")"> 4 </a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
