@model MountainTrailsWebApp.Models.Gmail

@{
    ViewBag.Title = "Contact";
}

<br />


<!DOCTYPE html>

<html>

<head>
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/Contact.css")
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <section class="contact">
        <h2> Contact <span>Us</span>! </h2>

        <div class="row">
            <div class="col-md-4 col-sm-6" style="padding-top: 160px; color: white; ">
                <address>
                    <div class="icon">
                        <i class="glyphicon glyphicon-home"></i>
                        <b> Sinaia, Carol I, 7 </b>
                    </div>
                    
                    <br />
                    <br />

                    <div class="icon">
                        <i class="glyphicon glyphicon-earphone"></i>
                        <b> 0723000777 </b>
                    </div>
                    
                </address>

                <address>
                    <div class="icon">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <strong> Support: </strong>   <a href="mailto:ioanae181@gmail.com"> <b> ioanae181@gmail.com </b> </a>
                    </div>
                    
                </address>
            </div>

            <div class="col-md-4 col-sm-6">
                @using (Html.BeginForm("Contact", "EmailSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="contactus">
                        <hr />
                        <table>
                            <tr>
                                <td style="width: 80px">
                                    Catre:
                                </td>
                                <td> @Html.TextBoxFor(model => model.To) </td>
                            </tr>

                            <tr>
                                <td>
                                    Subiect:
                                </td>
                                <td> @Html.TextBoxFor(model => model.Subject) </td>
                            </tr>

                            <tr>
                                <td valign="top">
                                    Mesaj:
                                </td>
                                <td> @Html.TextAreaFor(model => model.Body, new { rows = "15", cols = "35" })</td>
                            </tr>

                            <tr>
                                <td class="button">
                                    <input type="submit" value="Send" />
                                </td>
                            </tr>
                        </table>
                        <br />
                        <span style="color: green"> @ViewBag.Message </span>
                    </div>
                }
            </div>
        </div>
    </section>
</body>
</html>
