@model IEnumerable<MountainTrailsWebApp.Models.PeakModels>

@{
    ViewBag.Title = "Lista varfurilor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Peaks.css")
</head>
<body>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-warning" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mountain.MountainName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeakName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mountain.MountainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeakName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdPeak }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdPeak }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdPeak }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
