@model IEnumerable<MountainTrailsWebApp.Models.MountainModels>

@{
    ViewBag.Title = "Lista muntilor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Mountains.css")
</head>
<body>
    <p>
        <br />
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-warning" })
    </p>

    <h4> <b> Lista muntilor adaugati </b></h4>
    <hr />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MountainName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCounty)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IdTrail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPeak)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MountainName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Division)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCounty)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IdTrail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPeak)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdMountain }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdMountain }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdMountain }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
